

/*lable.html*/
.label-button{
    float: right;
    width: 7rem;
    height: 2.5rem;
    font-size: 1.5rem;
    background: #FF445F;
    border: 0px;
    color: white;
    -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
    border-radius: 3px;
    outline: medium;
}
.label-button:hover{
    opacity: 0.9;
}
.lable{

    border: 1px solid gainsboro;
    display: inline-block;
    position: relative;
    padding: 2px 10px;
    margin-right: 16px;
    border-radius: 1px;
    color: white;
    line-height: 1.5;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,254,255,.5);
    padding-top: 0.3rem;
    background: #317EF3;
    margin-bottom: 1rem;

}
.lable:hover{
    text-decoration: none;
    color: white;
    opacity: 0.9;
}

.lable:hover i{
            display: block;
}
.lable:link{
    text-decoration: none;
    color: white;
    opacity: 0.9;
}
.lable.extra{
    margin-left: 10px;
    color: white;
}
.icon{
   position: absolute;
    top: 0px;
    right: 0px;
    width: 17px;
    height: 100%;
    color: #999999;
    text-align: center;
    border-left: 1px solid #DDDDDD;
    font-size: 1rem;
    cursor: pointer;
    z-index: 9;
    background: white;
    padding-top: 5px;
    display: none;

}
.icon:hover{
    opacity: 1;
}
.icon:hover{
    color: #C90000;
}






/*lableDetail.html*/
.title-detail{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    font-size: 1.6rem;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 2rem;
    color: black;

}
.title-detail a{
    color: black;
}
.title-detail a:hover{
    color: #9A0000;
}
.lable-num{
    float: right;
}
.lable-detail-box{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    margin-top: 1.5rem;
    overflow: hidden;
}
.middle-box{
    width: 1250px;
    height: auto;
    margin-left: 0.1rem;
    padding-top: 0.1rem;
}
.lable-detail-box::after{
    clear: both;
}
.lable-box{
    width: 290px;
    height: 430px;
    float: left;
    margin-bottom: 1rem;
    margin-right: 1rem;
    background-color: #F3F4F3;
    border-radius: 2px;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
}
.img-detail-box{
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.img-detail-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s;
}
.img-detail-box img:hover{
    border-radius: 2px;
    transform: scale(1.1);
}
.user-box{
    width: 100%;
    height: 6.5rem;
}
.user-touxiang{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-left: 2rem;
    margin-top: 1rem;
    float: left;
    overflow: hidden;
}
.user-touxiang img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title-box-right{
    width: 75%;
    height: auto;
    float: right;
    margin-top: 1.7rem
}
.title-left{
    width: 65%;
    height: auto;
    float: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-size: 1.4rem;
}
.title-right{
    width: 35%;
    height: auto;
    float: right;
    padding-right: 1.3rem;
}
.title-right i{
    color: #989998;
    font-size: 1.8rem;
}
.title-right a:hover{
    text-decoration: none;
}
.title-right a:link{
    text-decoration: none;
}
.user-name{
    width: 30%;
    height: auto;
    text-align: center;
    float: left;
    margin-top: 0.8rem;
    margin-left: -5rem;
    font-size: 1.2rem;
}



@media screen and (max-width: 468px) {
    .title-detail{
        width:100%;
        padding-bottom:1rem;
        padding-top:1rem;
    }
    .title-detail a{
        margin-left: 5%;
    }
    .label-button{
        float:right;
        margin-right: 2%;
        margin-top: -0.5rem;
    }
    .lable-detail-box{
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .lable{
        float: left;
    }


    .title-detail a{
        font-size: 1.5rem;
        margin-left: 0.5rem;
    }
    .address-lable{
        font-size: 1.5rem;
    }
    .lable-num{
        margin-right: 2%;
        font-size: 1.5rem;
    }
    .middle-box{
        width: 100%;
        margin-left: 1%;
    }
    .lable-box{
        width: 48%;
        height: 28rem;
        margin-right: 2%;
    }
    .img-detail-box{
        height: 18rem;
    }
    .user-box{
        height: 10rem;
    }
    .title-box-right{
        width: 100%;
    }
    .title-left{
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
        margin-top: -7rem;
        border-bottom: 1px solid gainsboro;
        padding-bottom: 0.5rem;
    }
    .title-right{
        width: 40%;
        margin-top: -1.5rem;
    }
    .title-right a i{
        font-size: 1.6rem;
    }
    #num-like{
        font-size: 1.4rem;
        left: -1.3rem!important;
    }
    #share{
        float: right;
        margin-right: 2%;
    }
    .user-touxiang{
        margin-left: 8%;
        margin-top: 3rem;
    }
    .user-name{
        width: 65%;
        margin-left: 0;
        float: right;
        margin-top: -4.5rem;
        text-align: left;
    }

}

