
.wrapper{width:992px;margin:0 auto;font-family: Microsoft Yahei;}
.units{border-bottom:1px solid #ededed;}
.units .unit{line-height: 54px;border-top: 1px solid #ededed;}
.units .inner{display: none;}

.units .unit .arrow{width: 20px;height: 20px;position: absolute;right: 20px;top: 22px;background: url("../image/arrow-down.png");}
.units .unit .title.on .arrow{background: url("../image/arrow-up.png");}
.units .unit .title{position: relative;}

.install-area .button.white {
    padding: 0 30px;
    font-size: 24px;
    background: #fff;
    color: #fff;
    margin: 50px 0 15px;
    display: inline-block;
    border: 1px solid #ddd;
    height: 60px;
    line-height: 60px;
    border-radius: 3px;
    cursor: move;
    text-decoration: none;
    position: relative;
    text-align: center;
}

.install-area .button.white a{color:#666;}
.install-area .button.white a:hover,.install-area .button.white a:active,.install-area .button.white a:focus{text-decoration: none;cursor: move;}

