

.middle-box{
    width: 1255px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.middle-box::after{
    clear: both;
}

.follow-box-user{
    width: 240px;
    height: 330px;
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.7);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.7);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}
.follow-box-user img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-title-user{
    width: 94%;
    height: auto;
    position: relative;
    text-align: center;
    z-index: 3;
    font-size: 13px;
    color: grey;
    bottom: 170px;
    text-overflow:ellipsis;
    border-bottom: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
    margin: 0 auto;
    line-height: 3rem;
}

.img-row-user{
    width: 100%;
    height: 70px;
    position: relative;
    bottom: 155px;
    margin-left: 3%;
}
.img-row-3-user{
    width: 30%;
    height: 100%;
    margin-right: 2%;
    float: left;
}
.img-row-3-user img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-row-3-user img:hover{
    opacity: 0.9;
}
.following-user{
    position: relative;
    bottom: 145px;
    width: 90%;
    height: 2.5rem;
    border: 1px solid grey;
    z-index: 99;
    color: black;
    border-radius: 5px;
    left: 5%;
    background: rgba(233,233,233,0.8);
    outline: medium;

}
.following-user:hover{
    background: rgba(233,233,233,0.9);
}
.user-touxiang{
    width: 120px;
    height: 120px;
    background: white;
    z-index: 99;
    border-radius: 50%;
    position: relative;
    bottom: 460px;
    left: 50%;
    margin: 0 0 0 -60px;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    border: 1px solid gainsboro;
    overflow: hidden;
}
.user-touxiang img{
     width: 100%;
     height: 100%;
     border-radius: 50%;
     object-fit: cover;
 }
.user-touxiang img:hover{
   opacity: 0.9;
}
.user-name{
    width: 90%;
    height: auto;
    font-size: 14px;
    color: black;
    position: relative;
    bottom: 455px;
    z-index: 99;
    margin: 0 auto;
    text-align: center;
}
.user-name a{
    color: black;
}
.user-name a:hover{
    color: red;
}

@media screen and (max-width: 468px) {

    .middle-box{
        margin-top: 1rem;
        width: 100%;
        padding-left: 3.5%;
        padding-top: 0.5rem;
    }
    .follow-box-user{
        width: 47%;
        margin-right: 2%;
        height: 250px;
        border-radius: 2%;
    }
    .box-title-user{
        bottom: 125px;
        font-size: 1rem;
    }
    .img-row-user{
        height: 50px;
        bottom: 120px;
    }
    .following-user{
        bottom: 115px;
        font-size: 1rem;
        width: 100%;
        height: 2.2rem;
        left: 0;
    }
    .user-name{
        bottom: 340px;
        font-size: 1rem;
    }
    .user-touxiang{
        width: 80px;
        height: 80px;
        bottom: 350px;
        left: 50%;
        margin: 0 0 0 -40px;

    }
    .following-user i{
        font-size: 1rem;
    }
}

